<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spheric label app</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="styles/base.css">
  </head>
  <body>
    <div class="container-fluid app" id="app-container">
      <div class="app-inner" id="app"> 
        <header class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h1>Spheric Label App</h1>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Print labels</a></li>
              </ol>
          </div>
        </header>

        <div class="row page">
          <div class="col-lg-12 col-md-12 col-sm-12" >
            <header>
              <h2>Search order and line</h2>
            </header>
            <select-form-component :imported-orders="importedData"
                                   v-on:order-number-changed="orderNumberChanged"
                                   v-on:line-number-changed="lineNumberChanged"></select-form-component>            
          </div>
        </div>

        <div class="row page">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <header>
              <h2>Select lots to print</h2>
              <h5>Sales order: {{selectedOrderNumber}}</h5>
              <h5>Line number: {{selectedLineNumber}}</h5>
            </header>

            <table class="table table-sm table-responsive table-hover table-bordered">
              <colgroup>
                <col span="6" class=""></col>
              </colgroup>              
              <thead>
                <tr>
                  <th>Serial no</th>
                  <th>Customer part no</th>
                  <th>Description 1</th>
                  <th>Description 2</th>
                  <th>Description 3</th>
                  <th>Print?</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="label in filteredImportedData" is="print-lot-component" :label="label"></tr>            
              </tbody>
            </table>
          </div>
        </div>

        <div class="row page">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <header>
                <h2>Add information to labels</h2>
                <h5>Sales order: {{selectedOrderNumber}}</h5>
                <h5>Line number: {{selectedLineNumber}}</h5>
              </header>

            <table class="table table-sm table-responsive table-hover table-bordered">
              <colgroup>
                <col span="8" class=""></col>
              </colgroup>              
              <thead>
                <tr>
                  <th>Serial no</th>
                  <th>Customer part no</th>
                  <th>Description 1</th>
                  <th>Description 2</th>
                  <th>Description 3</th>
                  <th>Spec no</th>
                  <th>Box quantity</th>
                  <th>Copies to print</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="label in selectedFilteredImportedData" is="user-lot-component" :label="label"></tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row page">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <header>
              <h2>Print here</h2>
            </header>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <pagination-component v-on:navigation-changed="pageChange"></pagination-component>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <!-- Compiled Typescript -->
    <script src="dist/bundle.js"></script>    
  </body>
</html>