body { 
  background-color: #ddd;
  padding: 2% 4%;
}

.app {
  padding: 3%;
  background-color: white;
  border-radius: 2px;
}

header h1 {
  margin-bottom: 1%;
}

.page {
  display: none;
  margin: 2% 0%;
}

.page header {
  margin-bottom: 1%;
}

.page header h2 {
  text-align: center;
}

.page header h5 {
  text-align: left;
}

.current-page {
  display: block;
}

form {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

/* Special formatting for tables */

table {
  vertical-align: middle;
}

.table-null-entry {
  text-align: center;
  color: red;
  display: block;
  margin: auto;
}

.form-check input {
  margin: auto;
}

.table-input-container {
  width: 8em;
}

.input-group {
  width: 8em;
}

tr {
  font-size: 9pt;
}

input[type="text"] {
  font-size: 9pt;
}
input[type="number"] {
  font-size: 9pt;
}

.top-row-header {
  font-size: 12pt;
  text-align: center;
}









.hidden {
  visibility: hidden;
}

.error-text {
  margin-top: .25rem;
  margin-bottom: 1rem;
  font-size: .875rem;
  color: #dc3545;
  text-align: center;
  line-height: 1.5rem;
}